@model Fixed_Deposit_Interest_MVC.Models.CalculatedBalance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CalculatedBalance</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfYears)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfYears)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
